#sampInsta{

        .esd-loading{
            display:block;
            background-color: #EEE;
            text-align: center;
            position: relative;
            min-height: 200px;

            &:before {
                content: '';
                position: absolute;
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 5px solid #fff;
                border-color: #fff transparent #fff transparent;
                animation: esdRotate 1.2s linear infinite;
                left: 50%;
                top: 25%;
                transform: translate(-50%, -50%);
            }
        }


        .si-item{

            margin-bottom: 20px;

            @media(max-width: 478px) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }

                > figure{
                    &,
                        > a {
                            display: block;
                            width:100%;
                            height: 100%;
                            padding: 0;
                            margin: 0;
                        }

                        > a {
                            display: flex;
                            align-items: center;
                        }
                }
        }
}

@keyframes esdRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}