#sampInsta .esd-loading {
  display: block;
  background-color: #EEE;
  text-align: center;
  position: relative;
  min-height: 200px;
}

#sampInsta .esd-loading:before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: esdRotate 1.2s linear infinite;
          animation: esdRotate 1.2s linear infinite;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#sampInsta .si-item {
  margin-bottom: 20px;
}

@media (max-width: 478px) {
  #sampInsta .si-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

#sampInsta .si-item > figure,
#sampInsta .si-item > figure > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#sampInsta .si-item > figure > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes esdRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes esdRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=sampinsta.css.map */